@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-slam: slam 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes slam {
    0% {
      transform: scale(10);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

/* Custom Utilities */
.slam-text {
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}