@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--animate-slam: slam 0.6s cubic-bezier(0.2, 0.8, 0.2, 1) both;
	--animate-shake: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	--animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;

	@keyframes slam {
		0% {
			transform: scale(8);
			opacity: 0;
		}

		40% {
			opacity: 1;
		}

		100% {
			transform: scale(1);
			opacity: 1;
		}
	}

	@keyframes shake {
		0% {
			transform: translate(0, 0);
		}

		10% {
			transform: translate(-10px, -10px);
		}

		20% {
			transform: translate(10px, 10px);
		}

		30% {
			transform: translate(-10px, 10px);
		}

		40% {
			transform: translate(10px, -10px);
		}

		50% {
			transform: translate(-5px, -5px);
		}

		60% {
			transform: translate(5px, 5px);
		}

		70% {
			transform: translate(-2px, 2px);
		}

		80% {
			transform: translate(2px, -2px);
		}

		100% {
			transform: translate(0, 0);
		}
	}
}

/* Custom Utilities */
.slam-text {
	text-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

/* Lenis Recommended Styles */
html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}
