---
import ImpactMetrics from './ImpactMetrics.jsx';
---
<div class="py-20 bg-white dark:bg-slate-900 border-y border-slate-100 dark:border-slate-800 relative z-10">
    <ImpactMetrics client:visible />
</div>
