---
import ImpactMetrics from "./ImpactMetrics.jsx";
---

<div
	class="relative z-10 border-y border-slate-100 bg-white py-20 dark:border-slate-800 dark:bg-slate-900"
>
	<ImpactMetrics client:idle />
</div>
