---
---
<div id="portfolio-view" class="hidden pt-16 min-h-screen bg-white flex flex-col">
    <!-- Iframe Container -->
    <div class="flex-grow w-full h-full relative">
        <iframe 
            src="https://anthonyrosen.myportfolio.com" 
            class="w-full h-[calc(100vh-64px)] border-0"
            title="Tony Rosen Portfolio"
            loading="lazy"
        ></iframe>
    </div>
</div>
